@charset "utf-8";
/* CSS Document */
row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	padding: 0 4px;
	max-width: 25%
}

.column img {
	margin-top: 8px;
	width: 100%;
	vertical-align: middle;
}

@media screen and (max-width:1000px) {
	.column {
		flex: 20%;
		max-width: 20%
	}
}

@media screen and (max-width: 400px) {
	.column {
		flex: 50%;
		max-width: 50%;
		
	}
}

