@charset "utf-8";
/* CSS Document */



table {
	border-collapse: collapse;
	width: 70%;
	align-content: center;
	margin-left: 50px;
}
th, #heading {
	background-color: black;
	color: darkcyan;
	font-size: 20px;
	
}

tr td {
	padding:20px;
}

td {
	color: white;
}

p {
	align-content: center;
	margin: 30px;
}

	.grey {
	background-color: rgba(0,0,0,0.6);
}

#white {
	background-color: rgba(0,0,0,0.4);
}


