@charset "Aerial Nova";
/* CSS Document */
h1 {
	text-align: center;
	color: white;
	font-size: 60px;
}

body {
		background-image: url("Salmon.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("Salmon.jpg");
}

/* Header Section*/

header {
	background-color: black; 
	height: 50px;
	line-height: 50px;
	color: #fff;
	
}

/* Background color */
.topnav {
	background-color: black;
	overflow: hidden;
}

/* Styling links */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 12px;
}

.topnav a.logo {
	float: left;
}

/* Hover effect */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Current active link color */
.topnav a.active {
	background-color: #4CAF50;
	color: wheat;
}

li {
	list-style: none;
	pull-right: 50%;
	color: white;
}

h2 {
	color: darkcyan;
	font-size: 60px;
	margin-top: auto;
	padding-right: 50px;
	text-align: center;
	font-style: bold;
}


p { color: white;
	font-size: 20px;
	font-style: bold;

}

hr {
	border: 2px white;
}